@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=Prompt&family=Rubik&display=swap);.promotion-details .content {
  margin-bottom: 20px;
  display: none;
}

.promotion-details .content .details {
  padding: 10px;
}

.promotion-details .content .details a {
  font-size: 20px;
  color: #000;
}

.promotion-details .content .details a:hover {
  color: #000;
}

.promotion-details .img {
  text-align: center;
}

.promotion-details .bt-loadmore {
  padding-bottom: 30px !important;
}

.promotion-details .bt-loadmore a {
  border: 1px solid #8f1616;
  border-radius: 16px;
  color: #8f1616;
  cursor: pointer;
}

.promotion-details .bt-loadmore a img {
  padding-left: 5px;
  max-width: 22px;
  position: relative;
  top: -1px;
}

.promotion-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-promotion .text-promotion h3 {
  position: absolute;
  transform: rotate(270deg);
  top: 50%;
  left: -100px;
  color: #9a7141;
  font-weight: 600;
  text-transform: uppercase;
}

.img-promotion .text-promotion h3::after {
  content: "";
  background-color: #9a7141;
  width: 60px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 12px;
  right: -80px;
}

@media (min-width: 767px) {
  .bg-promotion {
    background: linear-gradient(to left, #fff 50%, #fffaf4 50%);
  }
}

@media (min-width: 767px) {
  .about-1 {
    position: relative;
  }

  .about-1::before {
    content: "";
    background-color: #f8f6ed;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -35px;
    top: -35px;
    z-index: -1;
  }
}

@media (min-width: 767px) {
  .about-2 {
    position: relative;
  }

  .about-2::before {
    content: "";
    background-color: #f8f6ed;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -35px;
    top: -35px;
    z-index: -1;
  }

  .video-1 {
    padding: 0 60px;
  }
}

.about h4 {
  position: relative;
}

.about .img-about {
  position: absolute;
  top: -40px;
  max-width: 60px;
  left: 30px;
}

.about .hr-about {
  margin: 16px 0px;
  text-align: left;
  border-top: 3px solid #404040;
  width: 80px;
}

/* .video-1{
    max-width: 900px;   
} */

@media (max-width: 768px) {
  .quote-2 {
    max-width: 50px;
  }

  .quote-2-text {
    font-size: 16px;
  }
}

.contact {
  background-color: #bf2327;
  color: #fff;
}

.contact .contact-address h6 {
  font-size: 22px;
}

.contact .contact-address .contact-deatils .c1 {
  flex: 1 0 95px;
  max-width: 40px;
}

.contact .contact-address .contact-deatils .c1 img {
  max-width: 20px;
}

.contact .contact-address .contact-deatils .c1 img.address {
  max-width: 14px;
}

.contact .contact-address .contact-deatils .c2 {
  flex: 1 1 auto;
}

.contact .contact-address .phone-address {
  margin-top: 15px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 40px;
  display: inline-flex;
}

.contact .contact-address .phone-address a,
.contact .contact-address .phone-address a:hover {
  color: #fff;
}

.contact .contact-address .phone-address .icon-phone {
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* padding: 5px 7px; */
  border-radius: 50%;
}

.contact .contact-address .phone-address .icon-phone img {
  max-width: 16px;
}

.contact .input-contact .form-contact input,
.contact .input-contact .form-contact textarea {
  background: #bf2327;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  padding-left: 0;
  color: #fff;
}

.contact .input-contact .form-contact .form-control:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.contact .input-contact .form-contact .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .input-contact .form-contact .submit .btn-submit {
  background-color: #fff;
  border-radius: 50px;
  color: #8f1616;
}

.contact .input-contact .form-contact .submit .btn-submit img {
  max-width: 20px;
  margin-right: 5px;
}

.map {
  background-color: #f9f9f9;
  padding-bottom: 40px;
}

.map .container iframe {
  width: 100%;
}

.map .container .branch {
  background-color: #fff;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
}

.map .container .branch a {
  margin: 5px 0;
  padding: 10px 10px;
  padding-left: 20px;
  color: #404040;
}

.map .container .branch a.active,
.map .container .branch a:hover {
  background-color: #f3ebe0;
  border-radius: 20px;
}

.map .container .contact-tent {
  background-color: #fff;
  border-radius: 10px;
}

.map .container .contact-tent .major {
  /* display: none; */
  margin-bottom: 35px;
}

.map .container .contact-tent .major .icon-phone {
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #9a7141;
  /* padding: 5px 7px; */
  border-radius: 50%;
}

.map .container .contact-tent .major .icon-phone img {
  max-width: 12px;
}

.map .container .contact-tent .major a {
  color: #404040;
}

.map .container .contact-tent .bt-loadmore a {
  border: 1px solid #8f1616;
  border-radius: 16px;
  color: #8f1616;
  cursor: pointer;
}

.map .container .contact-tent .bt-loadmore a img {
  padding-left: 5px;
  max-width: 22px;
  position: relative;
  top: -1px;
}

@media (min-width: 767px) {
  .contact {
    padding-bottom: 200px !important;
  }

  .contact .input-contact {
    padding: 0 60px;
  }

  .map {
    background-position: bottom;
  }

  .map iframe {
    margin-top: -170px;
  }
}

video {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.sub-text {
  font-family: "Dancing Script", cursive !important;
  text-shadow: -1px 0 #9a7141, 0 1px #9a7141, 1px 0 #9a7141, 0 -1px #9a7141;
  color: #fff;
  font-size: 65px;
}

.text-head {
  position: relative;
}

.text-head h3 {
  color: #9a7141;
  z-index: 4;
  position: relative;
}

.text-head .sub-text {
  font-family: "Dancing Script", cursive !important;
  text-shadow: -1px 0 #9a7141, 0 1px #9a7141, 1px 0 #9a7141, 0 -1px #9a7141;
  color: #fff;
  font-size: 65px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  top: 50px;
}

#fixedsocial {
  top: 40%;
  width: 70px;
  position: fixed;
  right: 0;
  background-color: #bf2327;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

#fixedsocial .socialflat {
  transition: ease 500ms;
  background-size: 50px;
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#fixedsocial .socialflat p {
  color: #fff;
  font-weight: 700;
  padding: 5px 0;
  font-size: 12px;
}

#fixedsocial .socialflat .img {
  padding: 10px 10px 0;
}

#fixedsocial .socialflat .img img {
  max-width: 30px;
}

#fixedsocial .socialflat:not(:last-child)::after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 60px;
  display: block;
  position: absolute;
  bottom: 0px;
}

.aslk {
  position: relative;
}

.aslk .tglk {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.footer {
  padding: 30px 15px 10px;
  border-top: 3px solid #f01b1c;
  color: #f01b1c;
}

.footer .header-foorer ul {
  list-style: none;
  padding-left: 0;
}

.footer .header-foorer ul a {
  color: #f01b1c;
}

.footer .header-foorer ul a:hover {
  color: #f01b1c;
}

.footer .header-foorer .address {
  font-size: 14px;
}

.footer .phone {
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #f01b1c;
  border-radius: 40px;
  display: inline-flex;
}

.footer .phone .icon-phone {
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f01b1c;
  /* padding: 5px 7px; */
  border-radius: 50%;
}

.footer .phone .icon-phone img {
  max-width: 14px;
}

.footer .phone a {
  color: #f01b1c;
}

.footer .icon-social .icon {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 0 3px;
  border: 1px solid #f01b1c;
}

.footer .icon-social .icon img {
  max-width: 50px;
}

@media (max-width: 767px) {
  .text-head .sub-text {
    font-size: 30px;
    top: 60px;
  }

  .sub-text {
    font-size: 30px;
  }
}

