.contact {
  background-color: #bf2327;
  color: #fff;

  .contact-address {
    h6 {
      font-size: 22px;
    }
    .contact-deatils {
      .c1 {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 95px;
        flex: 1 0 95px;
        max-width: 40px;

        img {
          max-width: 20px;
        }
        img.address {
          max-width: 14px;
        }
      }
      .c2 {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
      }
    }

    .phone-address {
      margin-top: 15px;
      padding: 5px;
      border: 2px solid #fff;
      border-radius: 40px;
      display: inline-flex;
      a,
      a:hover {
        color: #fff;
      }
      .icon-phone {
        width: 25px;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        /* padding: 5px 7px; */
        border-radius: 50%;
        img {
          max-width: 16px;
        }
      }
    }
  }
  .input-contact {
    .form-contact {
      input,
      textarea {
        background: #bf2327;
        border: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        padding-left: 0;
        color: #fff;
      }
      .form-control:focus {
        box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
      }
      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-submit {
          background-color: #fff;
          border-radius: 50px;
          color: #8f1616;
          img {
            max-width: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.map {
  background-color: #f9f9f9;
  padding-bottom: 40px;
  .container {
    iframe {
      width: 100%;
    }
    .branch {
      background-color: #fff;
      padding: 10px;
      flex-direction: column;
      border-radius: 10px;
      a {
        margin: 5px 0;
        padding: 10px 10px;
        padding-left: 20px;
        color: #404040;
      }
      a.active,
      a:hover {
        background-color: #f3ebe0;
        border-radius: 20px;
      }
    }

    .contact-tent {
     
      background-color: #fff;
      border-radius: 10px;
      .major {
        /* display: none; */
        .icon-phone {
          width: 25px;
          height: 25px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: #9a7141;
          /* padding: 5px 7px; */
          border-radius: 50%;

          img {
            max-width: 12px;
          }
        }
        a {
          color: #404040;
        }
        margin-bottom: 35px;
      }
      .bt-loadmore {
        a {
          border: 1px solid #8f1616;
          border-radius: 16px;
          color: #8f1616;
          cursor: pointer;
          img {
            padding-left: 5px;
            max-width: 22px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
}

@media (min-width: 767px) {

}
@media (min-width: 767px) {
  .contact {
    .input-contact {
      padding: 0 60px;
    }
    padding-bottom: 200px !important;
  }
  .map {
    background-position: bottom;
    iframe{
      margin-top: -170px;
    }
   
  }
}
